body {
  height: 100vh;
}
* {
  margin: 0px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
ul > li {
  font-family: arial;
  list-style: none;
  font-size: 0.9em;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: black;
  color: white;
  height: 40px;
  padding: 10px;
}
.menuPc{
  display: none;
  max-width: 60%;
}
.logo{
  display: flex;
  width: 40%;
  height:100%;
  background-color: red;
}
.btnmenuMobile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor:pointer;
  margin-left: 10px;
}
.MenuFutuante{
  display: none;
  position: absolute;
  flex-direction: column;
  min-height: 120vh;
  text-align: center;
  align-items: center;
  background-color: rgba(122, 102, 102, 0.959);
  width: 100%;
}
.MenuFutuante > menu{
  position:relative;
  padding: 0px;
  background-color: white;

  width: 100%;
  text-align: center;
}
.MenuFutuante > menu > ul{
  position: relative;
  padding: 0px;
  min-width: 100%;
  background-color: darkcyan;
}
.MenuFutuante > menu > ul > li{
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
  position: relative;
  background-color: darkgray;
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-weight: bolder;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

}
hr{
  width: 30px;
  margin-top: 4px;
}
main {
  background-color: white;
  min-height: 80vh;
  font-size: 0.9em;
}
.texto {
  padding: 10px;
  font-size: 1.05em;
  background-color: white;
  font-family: Courier New;
}
.img {
  background-color: orange;
  height: 200px;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.img img {
  width: 100%;
  height: 100%;
}
.img > p {
  width: 100%;
  height: 200px;
}
.imgs{
  background-color: rgb(28, 28, 116);

}
#C1img1{
  height: 100%;
  width: 50%;
  background: darkred url('https://th.bing.com/th/id/OIP.jTj_j0hzYyTd_UQGLdydNwHaLG?rs=1&pid=ImgDetMain') no-repeat top;
  background-size: cover;
}
#C1img2{
  height: 100%;
  width: 50%;
  background: darkred url('https://lojaeconomize.com.br/cdn/shop/files/Designsemnome_65.png?v=1693966407') no-repeat center;
  background-size: cover;
}

#C2img1{
  height: 100%;
  width: 50%;
  background: darkred url('https://th.bing.com/th/id/OIP.OkUPKBmalSKX8Ac3MmpvuQHaJ3?rs=1&pid=ImgDetMain') no-repeat center;
  background-size: cover;
}
#C2img2{
  height: 100%;
  width: 50%;
  background: darkred url('https://th.bing.com/th/id/OIP.3QiDE0sCt1-lenHT0kuubQHaHa?rs=1&pid=ImgDetMain') no-repeat center;
  background-size: cover;
}
footer {
  font-family: Comic Sans MS;
  height: 10vh;
  margin-top: 0.9px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.fixar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top:0px;
  width: 100%;
  transition: 1s;
  animation-timing-function: ease;
}
